libtool
bin
aclocal.m4
config.h.in
config
configure
autom4te.cache
Makefile
Makefile.in
config.*
stamp-h1
.deps
*.o
*.lo
.libs
*.la
*.swo
*.swn
*.swp
TAGS
Session.vim
m4/*.m4
gtk-doc.make
*.vim
TAGS
.gdbinit
